hoist-pattern[]=*eslint*
hoist-pattern[]=*babel*
hoist-pattern[]=*prettier*
# react-scripts test deps error
# hoist-pattern[]=postcss*

strict-peer-dependencies=false
shell-emulator=true
shared-workspace-lockfile=false
